.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
}

.section-header {
    text-align: center;
}

.title {
    display: flex;
    padding-top: 5rem;
}

.education-image {
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 1rem;
    display: block;
    background-image: url("PcbiqSPeQwE.jpeg");
    background-size: contain;
}
.work-image {
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 1rem;
    border-radius: 50px;
    background-image: url('ntc_logo_grid.png');
    background-size: 170%;
 }

.education {
    margin-bottom: 5rem;
    font-size: .7rem;
}

.work {
    margin-bottom: 5rem;
    font-size: .7rem;
}

.degree {
    font-weight: bold;
    margin-right: 1rem;
}

.recommendation {
    margin-top: 3rem;
    display: block;
}

.recommendation-item {
    color: #383A3D;
    text-decoration: none;
}

.company {
    margin-left: 1rem;
}

.contacts {
    display: block;
    margin-top: 3rem;
}